<div id="breeding-apparatus">
  {{view GG.FatherPoolView class="male-parents" id="parent-fathers-pool-container"}}
  {{view GG.MotherPoolView id="parent-mothers-pool-container"}}

  <div id="breeder">
    {{view GG.BreedButtonView id="breed-button"}}
    <div id="mother">
      {{#with GG.breedingController.mother}}
        {{view GG.DrakeView contentBinding="this" width="140"}}
      {{/with}}
    </div>
    <div id="father">
      {{#with GG.breedingController.father}}
        {{view GG.DrakeView contentBinding="this" width="140"}}
      {{/with}}
    </div>
    <div id="egg-container">
      {{view GG.EggView id="egg"}}
    </div>
    {{view GG.MoveCounter}}
  </div>
  {{view GG.MatchGoalCounter}}
  {{#view GG.OffspringPoolView id="offspring-pool"}}
    {{#each GG.offspringController}}
      <a href="#" {{action "drakeSelected"}}>
        {{view GG.DrakeView contentBinding="this"}}
      </a>
    {{/each}}
  {{/view}}
</div>
