<div class="title">Please enter in the users who are in your group:</div>
<div>
  <div class="headers">
    <div class="name">Name</div>
    <div class="school-id">School ID</div>
  </div>
  {{#each user in view.groups}}
    <div class="list-user">
      <div class="name">
        <span {{bindAttr class=":error user.validName:hidden" }}>Please enter a valid name</span><br />
        {{view Ember.TextField valueBinding="user.name"}}
      </div>
      <div class="school-id">
        <span {{bindAttr class=":error user.validSchoolID:hidden" }}>Please enter a valid School ID</span><br />
        {{view Ember.TextField valueBinding="user.schoolID"}}
      </div>
      <div class="remove-link">
        <a href="#" {{action removeUser user target="view"}}>Remove</a>
      </div>
    </div>
  {{/each}}
</div>
<div class='add-link'>
  <a href="#" {{action addUser target="view"}}>Add another user</a>
</div>
<div class='submit-button'>
  <input type="submit" value="Finished" {{action done}} />
</div>
