<div class="drake" {{bindAttr width="view.width" height="view.width"}}>
  <div class="static">
    <img {{bindAttr src="view.drakeImage" class=":drake-img view.tail"}}></img>
    <img {{bindAttr src="view.drakeImage" class=":drake-img :drake-body"}}></img>
    <img {{bindAttr src="view.drakeImage" class=":drake-img view.maleSpots"}}></img>
    <img {{bindAttr src="view.drakeImage" class=":drake-img view.forelimbs"}}></img>
    <img {{bindAttr src="view.drakeImage" class=":drake-img view.wings"}}></img>
    <img {{bindAttr src="view.drakeImage" class=":drake-img view.spikes"}}></img>
    <img {{bindAttr src="view.drakeImage" class=":drake-img view.head"}}></img>
    <img {{bindAttr src="view.drakeImage" class=":drake-img view.horns"}}></img>
    <img {{bindAttr src="view.drakeImage" class=":drake-img view.fire"}}></img>
  </div>
  <div class="idle">
    <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img view.tail"}}></img>
    <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img :drake-body"}}></img>
    <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img view.maleSpots"}}></img>
    <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img view.forelimbs"}}></img>
    <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img view.wings"}}></img>
    <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img view.spikes"}}></img>
    <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img view.head"}}></img>
    <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img view.horns"}}></img>
    <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img view.fire"}}></img>
  </div>
</div>
