<div class="drake" {{bindAttr width="view.width" height="view.width"}}>
	<img {{bindAttr src="view.drakeImage" class="view.tail"}}></img>
	<img {{bindAttr src="view.drakeImage" class=":drake-body"}}></img>
	<img {{bindAttr src="view.drakeImage" class=":drake-legs"}}></img>
	<img {{bindAttr src="view.drakeImage" class="view.forelimbs"}}></img>
	<img {{bindAttr src="view.drakeImage" class="view.wings"}}></img>
	<img {{bindAttr src="view.drakeImage" class="view.spikes"}}></img>
	<img {{bindAttr src="view.drakeImage" class="view.head"}}></img>
	<img {{bindAttr src="view.drakeImage" class="view.fire"}}></img>
</div>