<div {{bindAttr class=":drake view.selected" width="view.width" height="view.width"}}>
  <div class="static">
    <img {{bindAttr src="view.drakeImage" class=":drake-img view.body"}}></img>
    {{#if view.shine}}
      <img {{bindAttr src="view.drakeImage" class=":drake-img :drake-shiny"}}></img>
    {{/if}}
    {{#if view.spikes}}
      <img {{bindAttr src="view.drakeImage" class=":drake-img view.spikes"}}></img>
    {{/if}}
    {{#if view.armor}}
      <img {{bindAttr src="view.drakeImage" class=":drake-img :drake-armor"}}></img>
    {{/if}}
    {{#if view.wings}}
      <img {{bindAttr src="view.drakeImage" class=":drake-img :drake-wings"}}></img>
    {{/if}}
    <img {{bindAttr src="view.drakeImage" class=":drake-img view.head"}}></img>
    <img {{bindAttr src="view.drakeImage" class=":drake-img view.horns"}}></img>
    {{#if view.fire}}
      <img {{bindAttr src="view.drakeImage" class=":drake-img :drake-fire"}}></img>
    {{/if}}
  </div>
  {{#if view.showIdle}}
    <div class="idle">
      <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img view.body"}}></img>
      {{#if view.shine}}
        <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img :drake-shiny"}}></img>
      {{/if}}
      {{#if view.spikes}}
        <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img view.spikes"}}></img>
      {{/if}}
      {{#if view.armor}}
        <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img :drake-armor"}}></img>
      {{/if}}
      {{#if view.wings}}
        <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img :drake-wings"}}></img>
      {{/if}}
      <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img view.head"}}></img>
      <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img view.horns"}}></img>
      {{#if view.fire}}
        <img {{bindAttr src="view.drakeIdleImage" class=":drake-idle-img :drake-fire"}}></img>
      {{/if}}
    </div>
  {{/if}}
</div>
