{{#if view.registeredUsername}}
<div id="registration-success" {{bindAttr class=":login-info view.firstTime:no-error"}}>
  <h2>Registration Successful!</h2>
  <div>
    Your new username is: <h2>{{view.registeredUsername}}</h2>
  </div>
</div>
{{/if}}
<div id="login">
  {{#if view.loggingIn}}
    <div id="login-status" class="login-info" style="padding-top: 16px;">
      {{#if view.waitingForPreload}}
        Logged in! Waiting to finish pre-loading assets...
      {{else}}
        Logging in... please wait.
      {{/if}}
    </div>
    <div id="login-permission-denied" class="login-info">
      Permission denied. Loading portal...
    </div>
  {{else}}
    {{#if view.registrationError}}
      <div id='registration-error' class="login-info" style="padding-top: 16px;">
        {{{view.registrationErrorMessage}}}
      </div>
    {{/if}}
    {{#unless view.firstTime}}
      {{#if view.error}}
        <div id='login-error' class="login-info" style="padding-top: 16px;">
          Invalid username or password. Please try again.
        </div>
      {{/if}}
    {{/unless}}
    <div id="username-field">
      {{view Ember.TextField valueBinding="view.username"}}
    </div>
    <div id="password-field">
      {{view GG.PasswordField valueBinding="view.password" loginViewBinding="view"}}
    </div>
    <div class="buttons">
      <span {{action login}}><img src="images/login-button.png"/></span>
      <span {{action showRegistration  target="GG.statemanager"}}><img src="images/login-signup-button.png"/></span>
    </div>
  {{/if}}
  <div id="loadingStatus"></div>
  <div id="register">
    <h2>Register a new account</h2>
    <div>
      <form id="new_portal_student"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
        <table class='form'>
        <tr>
        <td><label for="user">First Name:</label></td>
        <td>
        <input id="first_name" class="required" live="false" name="first_name" size="20" type="text" value="" />
        </td>
        </tr>
        <tr>
        <td><label for="user">Last Name:</label></td>
        <td><input id="last_name" class="required" live="false" name="last_name" size="20" type="text" value="" /></td>
        </tr>
        <tr>
        <td><label for="user">Password:</label></td>
        <td><input id="user_password" class="required" live="false" name="password" size="20" type="password" /></td>
        </tr>
        <tr>
        <td><label for="user">Password Again:</label></td>
        <td><input id="password_confirmation" class="required" live="false" name="password_confirmation" size="20" type="password" /></td>
        </tr>
        <tr class="classWordButton">
        <td><label for="user">If your teacher gave you a class word, click here:</label></td>
        <td><button {{action showClassWord bubbles=false}}>Enter class word</button></td>
        </tr>
        <tr class="classWord" style="display: none">
        <td>
        <label for="clazz">Class Word:</label>
        </td>
        <td><input id="class_word" live="false" name="class_word" type="text"/></td>
        </tr>
        <tr>
        <td></td>
        <td>
        </td>
        </tr>
        </table>
      </form>
    </div>
    <input type="submit" value="Register" class="register-button" {{action register bubbles=false}} />
    <div style="padding-top: 24px;">
      I already have an account.
      <input style="margin: 13px;" type="submit" value="Log in" {{action returnToLogin  target="GG.statemanager"}} />
    </div>
  </div>
</div>

