<div id="login">
  <div id="loadingStatus"></div>
  {{#if view.loggingIn}}
    <div id="login-status">
      {{#if view.waitingForPreload}}
        Logged in! Waiting to finish pre-loading assets...
      {{else}}
        Logging in... please wait.
      {{/if}}
    </div>
    <div id="login-permission-denied">
      Permission denied. Loading portal...
    </div>
  {{else}}
    {{#unless view.firstTime}}
      {{#if view.error}}
        <div id='login-error'>
          Invalid username or password. Please try again.
        </div>
      {{/if}}
    {{/unless}}
    <div>
      <span id="username">Username:</span>
      <span id="username-field">{{view Ember.TextField valueBinding="view.username"}}</span>
    </div>
    <div>
      <span id="password">Password:</span>
      <span id="password-field">{{view GG.PasswordField valueBinding="view.password" loginViewBinding="view"}}</span>
    </div>
    <input type="submit" value="Login" {{action login}} />
  {{/if}}
</div>
