<div class="chromosome-panel">
  {{meiosisDefaults GG.ChromoView chromo="1" side="b" sister="1" }}
  {{meiosisDefaults GG.ChromoView chromo="1" side="b" sister="2" hiddenBinding="view.sistersHidden"}}
  {{meiosisDefaults GG.ChromoView chromo="1" side="a" sister="1" }}
  {{meiosisDefaults GG.ChromoView chromo="1" side="a" sister="2" hiddenBinding="view.sistersHidden"}}
  {{meiosisDefaults GG.ChromoView chromo="2" side="b" sister="1" }}
  {{meiosisDefaults GG.ChromoView chromo="2" side="b" sister="2" hiddenBinding="view.sistersHidden"}}
  {{meiosisDefaults GG.ChromoView chromo="2" side="a" sister="1" }}
  {{meiosisDefaults GG.ChromoView chromo="2" side="a" sister="2" hiddenBinding="view.sistersHidden"}}
  {{#if female}}
    {{meiosisDefaults GG.ChromoView chromo="X" side="x2" sister="1" }}
    {{meiosisDefaults GG.ChromoView chromo="X" side="x2" sister="2" hiddenBinding="view.sistersHidden"}}
  {{else}}
    {{meiosisDefaults GG.ChromoView chromo="Y" side="y" sister="1" }}
    {{meiosisDefaults GG.ChromoView chromo="Y" side="y" sister="2" hiddenBinding="view.sistersHidden"}}
  {{/if}}
  {{meiosisDefaults GG.ChromoView chromo="X" side="x1" sister="1" }}
  {{meiosisDefaults GG.ChromoView chromo="X" side="x1" sister="2" hiddenBinding="view.sistersHidden"}}
  <div class="cell mainCell"></div>
  <div class="meiosisControlView crossoverSelection hidden">
    <h3>Crossing Over</h3>
    <div class="step1">
      <p>Select one of the dashed boxes as one of your points of crossing over.</p>
      <p>Click continue if you want to skip crossing over.</p>
    </div>
    <div class="step2 hidden">
      <p>Now select one of the remaining dashed boxes as the second of your points of crossing over.</p>
    </div>
    <div class="step3 hidden">
      <p>Congratulations! You've now moved alleles between chromatids.</p>
      <p>Repeat the process as desired, or click Continue to move on.</p>
    </div>
    {{#if GG.baselineController.isNotBaseline}}
      <div class="cost">Cost: {{GG.actionCostsController.content.crossoverMade}} rep per crossover</div>
      {{/if}}
    <button {{action "doneSelectingCrossover"}}>Continue</button>
  </div>
  <div class="meiosisControlView chromatidSelection hidden">
    <h3>Chromosome Selection</h3>
    <p>If you would like to control which chromosomes you end up with, select them now.</p>
    <p>Click continue when you are done.</p>
    {{#if GG.baselineController.isNotBaseline}}
      <div class="cost">Cost: {{GG.actionCostsController.content.chromosomeSelected}} rep per selection</div>
    {{/if}}
    <button {{action "doneSelectingChromatids"}}>Continue</button>
  </div>
</div>
