<div class="chromosome-panel">
  {{meiosisDefaults GG.ChromoView chromo="1" side="b" sister="1" }}
  {{meiosisDefaults GG.ChromoView chromo="1" side="b" sister="2" hiddenBinding="view.sistersHidden"}}
  {{meiosisDefaults GG.ChromoView chromo="1" side="a" sister="1" }}
  {{meiosisDefaults GG.ChromoView chromo="1" side="a" sister="2" hiddenBinding="view.sistersHidden"}}
  {{meiosisDefaults GG.ChromoView chromo="2" side="b" sister="1" }}
  {{meiosisDefaults GG.ChromoView chromo="2" side="b" sister="2" hiddenBinding="view.sistersHidden"}}
  {{meiosisDefaults GG.ChromoView chromo="2" side="a" sister="1" }}
  {{meiosisDefaults GG.ChromoView chromo="2" side="a" sister="2" hiddenBinding="view.sistersHidden"}}
  {{#if female}}
    {{meiosisDefaults GG.ChromoView chromo="X" side="x2" sister="1" }}
    {{meiosisDefaults GG.ChromoView chromo="X" side="x2" sister="2" hiddenBinding="view.sistersHidden"}}
  {{else}}
    {{meiosisDefaults GG.ChromoView chromo="Y" side="y" sister="1" }}
    {{meiosisDefaults GG.ChromoView chromo="Y" side="y" sister="2" hiddenBinding="view.sistersHidden"}}
  {{/if}}
  {{meiosisDefaults GG.ChromoView chromo="X" side="x1" sister="1" }}
  {{meiosisDefaults GG.ChromoView chromo="X" side="x1" sister="2" hiddenBinding="view.sistersHidden"}}
  <div class="cell mainCell"></div>
  <div class="meiosisControlView crossoverSelection hidden">
    <h3>Crossing Over</h3>
    <p>If you would like to control where the various chromosomes cross over, select those points now.</p>
    <p>Click continue when you are done.</p>
    <button {{action "doneSelectingCrossover"}}>Continue</button>
  </div>
  <div class="meiosisControlView chromatidSelection hidden">
    <h3>Chromosome Selection</h3>
    <p>If you would like to control which chromosomes you end up with, select them now.</p>
    <p>Click continue when you are done.</p>
    <button {{action "doneSelectingChromatids"}}>Continue</button>
  </div>
</div>
