<div class="chromosome-panel">
  {{view GG.ChromoView chromo="1" side="b" sister="1" gametesBinding="view.gametes" contentBinding="view.content" highlightAlleleChanges="true"}}
  {{view GG.ChromoView chromo="1" side="b" sister="2" gametesBinding="view.gametes" contentBinding="view.content" highlightAlleleChanges="true" hiddenBinding="view.sistersHidden"}}
  {{view GG.ChromoView chromo="1" side="a" sister="1" gametesBinding="view.gametes" contentBinding="view.content" highlightAlleleChanges="true"}}
  {{view GG.ChromoView chromo="1" side="a" sister="2" gametesBinding="view.gametes" contentBinding="view.content" highlightAlleleChanges="true" hiddenBinding="view.sistersHidden"}}
  {{view GG.ChromoView chromo="2" side="b" sister="1" gametesBinding="view.gametes" contentBinding="view.content" highlightAlleleChanges="true"}}
  {{view GG.ChromoView chromo="2" side="b" sister="2" gametesBinding="view.gametes" contentBinding="view.content" highlightAlleleChanges="true" hiddenBinding="view.sistersHidden"}}
  {{view GG.ChromoView chromo="2" side="a" sister="1" gametesBinding="view.gametes" contentBinding="view.content" highlightAlleleChanges="true"}}
  {{view GG.ChromoView chromo="2" side="a" sister="2" gametesBinding="view.gametes" contentBinding="view.content" highlightAlleleChanges="true" hiddenBinding="view.sistersHidden"}}
  {{#if female}}
    {{view GG.ChromoView chromo="X" side="b" sister="1" gametesBinding="view.gametes" contentBinding="view.content" highlightAlleleChanges="true"}}
    {{view GG.ChromoView chromo="X" side="b" sister="2" gametesBinding="view.gametes" contentBinding="view.content" highlightAlleleChanges="true" hiddenBinding="view.sistersHidden"}}
  {{else}}
    {{view GG.ChromoView chromo="Y" side="b" sister="1" gametesBinding="view.gametes" contentBinding="view.content" highlightAlleleChanges="true"}}
    {{view GG.ChromoView chromo="Y" side="b" sister="2" gametesBinding="view.gametes" contentBinding="view.content" highlightAlleleChanges="true" hiddenBinding="view.sistersHidden"}}
  {{/if}}
  {{view GG.ChromoView chromo="X" side="a" sister="1" gametesBinding="view.gametes" contentBinding="view.content" highlightAlleleChanges="true"}}
  {{view GG.ChromoView chromo="X" side="a" sister="2" gametesBinding="view.gametes" contentBinding="view.content" highlightAlleleChanges="true" hiddenBinding="view.sistersHidden"}}
</div>
