{{#if view.visible}}
  <div id='obstacle-course-dialog-content'>
    {{#with view.drake}}
      {{view GG.DrakeView contentBinding="this"}}
    {{/with}}
    <div class="current-obstacle">
      {{view GG.ObstacleView contentBinding="view.currentObstacle" skipStyle="true"}}
    </div>
    <div class="overall-time-text">
      <div>
        <h2>Time Taken</h2>
      </div>
      <div>
        <span class="align-left">You:</span><span class="align-right revealable">{{view.myTotalTime}}s</span>
      </div>
      <div>vs.</div>
      <div>
        <span class="align-left">Opponent:</span><span class="align-right">{{view.opponentTotalTime}}s</span>
      </div>
      <div class="victory revealable">
        <h1>
          {{#if view.taskComplete}}
            Victory!
          {{else}}
            You lost.
          {{/if}}
        </h1>
      </div>
    </div>

    <div class="reputation-calculation">
      <div class="points-title">
        <h2>Reputation Points</h2>
      </div>
      <div class="completion-rep">
        <span class="align-left">Obstacle Course Completion:</span><span class="points revealable">{{view.courseCompletionPoints}}</span>
      </div>
      <div class="completion-rep">
        <span class="align-left">Speed Bonus for {{view.nTrainings}} Trainings</span><span class="points revealable">{{view.trainingPoints}}</span>
      </div>
      {{#if GG.tasksController.meiosisControlEnabled}}
        <div class="completion-rep-item">
          <span class="action align-left">Meiosis Control:</span><span class="points spent revealable">{{view.meiosisControlRep}}</span>
        </div>
      {{/if}}
      {{#if GG.tasksController.hasHiddenGenes}}
        <div class="completion-rep-item">
          <span class="action align-left">Allele Reveal:</span><span class="points spent revealable">{{view.alleleRevealRep}}</span>
        </div>
      {{/if}}
      <div class="divider"></div>
      <div class="completion-rep-item total">
        <span class="action align-left">Points Earned:</span><span class="points earned revealable">{{view.taskReputation}}</span>
      </div>
    </div>

    <div class="obstacle-time-breakdown">
      {{#each obstacle in view.obstacles}}
        {{#view GG.ObstacleTimeView obstacleBinding="obstacle"}}
          <span class="align-left">{{view.obstacle.obstacle}}:</span>
          <span class="align-right revealable">{{view.time}} seconds</span>
        {{/view}}
      {{/each}}
      <div class="divider"></div>
      <div><span class="align-right revealable">{{view.myTotalTime}} seconds</span></div>
    </div>
    <div class="obstacle-buttons revealable">
      <button {{action tryAgain}}>Try Again</button>
      {{#if view.taskComplete}}
        <button {{action continueOn}}>Next Level</button>
      {{/if}}
    </div>
  </div>
{{/if}}
