<div class="course">
  <div class="drake-container">
    {{#with view.drake}}
      {{view GG.DrakeView contentBinding="this"}}
    {{/with}}
  </div>
  <div class="background"></div>
  <div class="obstacles">
    {{#each obstacle in view.obstacles}}
      {{view GG.ObstacleView typeBinding="obstacle"}}
    {{/each}}
  </div>
</div>
<div class="controls">
  <a href="#" {{action "start" view}}>Start</a>
  <a href="#" {{action "reset" view}}>Reset</a>
  <a href="#" {{action "done" view}}>Done</a>
</div>
