<div class="parent-pool">
  {{#each view.content}}
    <a href="#" {{action "drakeSelected"}}>
      {{view GG.DrakeView contentBinding="this" width="100"}}
    </a>
  {{/each}}
</div>
{{view view.expanderButton}}
{{#with view.controller}}
  {{view GG.ChromosomePanelView controllerBinding="this"}}
{{/with}}
{{view view.meiosisButton}}
