<div id='completion-dialog-content'>
  {{#with GG.offspringController.content}}
    {{view GG.DrakeView contentBinding="this"}}
  {{/with}}
  <div class="completion-text">
    {{view.text}}
  </div>
  {{#if GG.baselineController.isNotBaseline}}
    <div class="completion-rep">
      <div class="completion-rep-item">
        <span class="action">Reputation Points Won:</span><span class="points earned">{{view.reputationWon}}</span>
      </div>
      <div class="completion-rep-item">
        <span class="action">Points Spent on Extra Breeds:</span><span {{bindAttr class=":points :spent GG.optionsController.projectedDisplay:projected"}}>{{view.extraBreedsRep}}</span>
      </div>
      {{#if GG.tasksController.meiosisControlEnabled}}
        <div class="completion-rep-item">
          <span class="action">Points Spent on Meiosis Control:</span><span {{bindAttr class=":points :spent GG.optionsController.projectedDisplay:projected"}}>{{view.meiosisControlRep}}</span>
        </div>
      {{/if}}
      {{#if GG.tasksController.hasHiddenGenes}}
        <div class="completion-rep-item">
          <span class="action">Points Spent on Allele Reveal:</span><span {{bindAttr class=":points :spent GG.optionsController.projectedDisplay:projected"}}>{{view.alleleRevealRep}}</span>
        </div>
      {{/if}}
      <div class="completion-rep-item total">
        <span class="action">Points Earned:</span><span class="points earned">{{view.taskReputation}}</span>
      </div>
    </div>
  {{/if}}
  <div class="completion-buttons">
    <button {{action tryAgain}}>Try Again</button>
    <button {{action continueOn}}>{{view.continueButtonText}}</button>
  </div>
</div>
