<div id="town">
  {{#each view.content}}
    {{#view GG.TaskNPCView contentBinding="this"}}
      <a href="#" {{action "npcSelected"}}>
        {{view GG.NPCQuestionBubbleView contentBinding="this"}}
      </a>
      {{#view GG.NPCSpeechBubbleView contentBinding="this"}}
        {{view.text}}
        <br/><br/>
        <button {{action "accept"}}>{{view.content.npc.speech.accept}}</button>
        <button {{action "decline"}}>{{view.content.npc.speech.decline}}</button>
      {{/view}}
      {{#view GG.NPCCompletionBubbleView contentBinding="this"}}
        {{view.text}}
        <br/><br/>
        <button {{action "accept"}}>{{view.content.npc.speech.accept}}</button>
      {{/view}}
      {{view GG.NPCHeartBubbleView contentBinding="this"}}
      {{view GG.NPCView contentBinding="this"}}
    {{/view}}
  {{/each}}
</div>
