<div id="town">
  <div id="topBar">
    {{#with GG.userController.user}}
      <div id="greeting">
        Hi {{first}}!
      </div>
      <div id="reputation">
        Reputation: {{reputation}}
      </div>
    {{/with}}
  </div>
  {{#each view.content}}
    {{#view GG.TaskNPCView contentBinding="this"}}
      <a href="#" {{action "npcSelected" this}}>
        {{view GG.NPCQuestionBubbleView contentBinding="this"}}
      </a>
      {{#view GG.NPCSpeechBubbleView contentBinding="this"}}
        {{view.text}}
        <br/><br/>
        <button {{action "accept"}}>{{view.content.npc.speech.accept}}</button>
        <button {{action "decline"}}>{{view.content.npc.speech.decline}}</button>
      {{/view}}
      {{#view GG.NPCCompletionBubbleView contentBinding="this"}}
        {{view.text}}
        <br/><br/>
        <button {{action "accept"}}>{{view.content.npc.speech.accept}}</button>
      {{/view}}
      {{#view GG.NPCFinalMessageBubbleView contentBinding="this"}}
        {{view.text}}
        <br/><br/>
        <button {{action "next"}}>Go straight to next town</button>
        <button {{action "world"}}>Go to world view</button>
      {{/view}}
      {{view GG.NPCHeartBubbleView contentBinding="this"}}
      {{view GG.NPCView contentBinding="this"}}
    {{/view}}
  {{/each}}
</div>
