<div id="topBar">
  {{#with GG.userController.user}}
    <div id="greeting">
      Hi {{first}}!
    </div>
    {{#if GG.reputationController.showTotal}}
      <div id="reputation" {{action "showLeaderboard" target="GG.statemanager"}}>
        Bank: ${{reputation}}
      </div>
    {{/if}}
  {{/with}}
  <div id="level">
    {{GG.townsController.currentTown.name}} {{GG.tasksController.currentLevelId}}
  </div>
  {{view GG.GoToTownButton}}
  {{view GG.GoToWorldButton}}
  {{view GG.LogoutButton}}
</div>
<div id="town" {{bindAttr class="view.background"}}>
  <div class="gradient"></div>
  {{#each view.content}}
    {{#view GG.TaskNPCView contentBinding="this"}}
      <a href="#" {{action "npcSelected" this}}>
        {{view GG.NPCQuestionBubbleView contentBinding="this"}}
      </a>
      {{#view GG.NPCSpeechBubbleView contentBinding="this"}}
        {{view.text}}
        <br/><br/>
        {{#if view.isShowingEndMessage}}
          <button {{action "done"}}>{{view.continueButtonText}}</button>
        {{else}}
        {{#if view.isShowingThanksMessage}}
          <button {{action "done"}}>{{view.continueButtonText}}</button>
        {{else}}
        {{#if view.isShowingFailMessage}}
          <button {{action "replay"}}>Try again</button>
          <button {{action "done"}}>Go to another task</button>
        {{else}}
          <button {{action "accept"}}>{{view.acceptText}}</button>
          <button {{action "decline"}}>{{view.declineText}}</button>
        {{/if}}{{/if}}{{/if}}
      {{/view}}
      {{#view GG.NPCFinalMessageBubbleView contentBinding="this"}}
        {{view.text}}
        <br/><br/>
        <button {{action "world"}}>Leave the town</button>
        <button {{action "dismissFinalBubble"}}>Hang around for a while</button>
      {{/view}}
      <a href="#" {{action "replayTask" this}}>
        {{view GG.NPCHeartBubbleView contentBinding="this"}}
      </a>
      {{view GG.NPCView contentBinding="this"}}
    {{/view}}
  {{/each}}

  <!-- leaderboard -->
  <div id="leader-board" class="leader-board">
    <h1>Class Leaderboard</h2>
    <a class="close" {{action "hideLeaderboard"  target="GG.statemanager"}}>close</a>
    {{#each GG.leaderboardController}}
      {{#if this.show}}
      <div {{bindAttr class="this.isUser"}}>
        <span class="rank">{{rank}}.</span> <span class="name">{{displayName}}</span> <span class="score">{{score}}</span>
      </div>
      {{/if}}
    {{/each}}
  </div>
</div>
