<div id="topBar">
  {{#with GG.userController.user}}
    <div id="greeting">
      Hi {{first}}!
    </div>
    {{#if GG.reputationController.showTotal}}
      <div id="reputation">
        Reputation: {{reputation}}
      </div>
    {{/if}}
  {{/with}}
  {{view GG.LogoutButton}}
</div>
<div id="sky">
  <div id="clouds">
  </div>
  <div id="world">
    {{#each view.content}}
      {{view GG.WorldTownView contentBinding="this"}}
    {{/each}}
  </div>
<!--  <div id="dragon-right" class="dragon"> -->
  <!--  </div>  -->
  <div id="message">
  </div>

  <!-- Admin/manual-submission forms -->
  {{view GG.townUnlockView}}
</div>
