<div id="topBar">
  {{#with GG.userController.user}}
    <div id="greeting">
      Hi {{first}}!
    </div>
    {{#if GG.reputationController.showTotal}}
      <div id="reputation" {{action "showLeaderboard" target="GG.statemanager"}}>
        Bank: ${{reputation}}
      </div>
    {{/if}}
  {{/with}}
  {{view GG.LogoutButton}}
</div>
<div id="sky">
  <div id="clouds">
  </div>
  <div id="world">
    {{#each view.content}}
      {{view GG.WorldTownView contentBinding="this"}}
    {{/each}}
  </div>
<!--  <div id="dragon-right" class="dragon"> -->
  <!--  </div>  -->
  <div id="message">
  </div>

  <!-- Admin/manual-submission forms -->
  {{view GG.townUnlockView}}

  <!-- leaderboard -->
  <div id="leader-board" class="leader-board">
    <h1>Class Leaderboard</h2>
    <a class="close" {{action "hideLeaderboard"  target="GG.statemanager"}}>close</a>
    {{#each GG.leaderboardController}}
      {{#if this.show}}
      <div {{bindAttr class="this.isUser"}}>
        <span class="rank">{{rank}}.</span> <span class="name">{{displayName}}</span> <span class="score">{{score}}</span>
      </div>
      {{/if}}
    {{/each}}
  </div>
</div>
